@page "/people"
@page "/people/Index"
@inject IPersonRepo _personRepo
@inject NavigationManager _nM
@attribute [Authorize]


<div class="container-fluid">
    <div class="row mr-3 mb-2">
        <h3 class="float-right font-weight-bold " style="font-size: 28px">لیست بازیگران </h3>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <a class="btn btn-primary float-right font-weight-bold mb-3" href="person/create">افزودن هنرپیشه</a>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                @*<GenricList List="PeopleList">
                        <WholeListTemplate>
                            <table class="table table-striped" style="border:1px gray solid">
                                    <thead>
                                        <tr>
                                            <th>عملیات</th>
                                            <th>نام هنرپیشه</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in PeopleList)
                                        {
                                            <tr>
                                                <td>
                                                    <a href="person/edit/@item.Id" class="btn btn-warning">ویرایش</a>
                                                    <button @onclick="(()=>DeleteBook(item.Id))" class="btn btn-danger">حذف</button>
                                                </td>
                                                <td>@item.Name</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                        </WholeListTemplate>
                    </GenricList>*@

                @*<SfGrid DataSource="@PeopleList" Height="335" GridLines="GridLine.Both" EnableRtl="true">
                        <GridTemplates>

                            <RowTemplate>

                                @{
                                    var item = (context as Person);


                                    <td style="text-align: center;">
                                        @item.Name
                                    </td>
                                    <td style="text-align: -webkit-center;">
                                        <img src="@item.Picture" alt="@item.Picture" class="d-block w-100" style="width: 80px !important; height: 80px; border-radius: 50%;" />
                                    </td>
                                    <td style="text-align: center;">

                                        <SfButton CssClass="e-warning"><a class="awarning" href="person/edit/@item.Id">ویرایش</a></SfButton>

                                        <SfButton @onclick="(() => DeleteBook(item.Id))" class="delbtn" CssClass="e-danger">حذف</SfButton>

                                    </td>
                                }

                            </RowTemplate>
                        </GridTemplates>
                        <GridColumns>
                            <GridColumn Field=@nameof(Person.Name) HeaderText="<strong>نام بازیگر</strong>" DisableHtmlEncode="false" TextAlign="TextAlign.Center"> </GridColumn>
                            <GridColumn Field=@nameof(Person.Picture) HeaderText="<strong>تصویر بازیگر</strong>" DisableHtmlEncode="false" TextAlign="TextAlign.Center"></GridColumn>
                            <GridColumn HeaderText=" <strong>عملیات</strong>" DisableHtmlEncode="false" TextAlign="TextAlign.Center"></GridColumn>
                        </GridColumns>
                    </SfGrid>*@

                <SfGrid DataSource="@PeopleList" EnableRtl="true" Height="359">
                    <GridColumns>
                        <GridColumn Field=@nameof(Person.Name) HeaderText="<strong>نام بازیگر</strong>" DisableHtmlEncode="false" TextAlign="TextAlign.Center"></GridColumn>
                        <GridColumn  AutoFit="true" Field=@nameof(Person.Picture) HeaderText="<strong>تصویر بازیگر</strong>" DisableHtmlEncode="false" TextAlign="TextAlign.Center">
                            <Template >
                                @{
                                    var item = (context as Person);

                                    <img src="@item.Picture" alt="@item.Picture" class="d-block w-100" style="width: 80px !important; height: 80px; border-radius: 50%;" />

                                }
                            </Template>
                        </GridColumn>
                        <GridColumn TextAlign="TextAlign.Center" AutoFit="true" HeaderText=" علیات">
                            <Template>
                                @{
                                    var item = (context as Person);

                                    <SfButton CssClass="e-warning"><a class="awarning" href="person/edit/@item.Id">ویرایش</a></SfButton>

                                    <SfButton @onclick="(() => DeleteBook(item.Id))" class="delbtn" CssClass="e-danger">حذف</SfButton>

                                }
                            </Template>
                        </GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </div>
</div>
@code {
    List<Person> PeopleList;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            PeopleList = await _personRepo.GetPeople();
        }
        catch (Exception e)
        {
            Console.WriteLine(e.ToString());

        }
    }

    public async Task DeleteBook(int id)
    {
        await _personRepo.Delete(id);
        _nM.NavigateTo("/people", true);
    }
}
